/* https://www.w3schools.com/howto/howto_css_center-vertical.asp */

.container { 
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 5px solid #F3F3F3;
  border-radius: 50%;
  border-top: 5px solid #AFAFAF;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p, a, label, button, input {
  font-family: sans-serif;
}

p, a, label {
  font-size: 0.8em;
}

.error {
  color: #FF0000
}

input {
  margin-bottom: 3px;
}

dialog {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 5px;
  z-index: 1; /* Sit on top */
}

button {
  transition-duration: 0.4s;
  border-radius: 5px;  
}

button:hover {
  background-color: #828282;
  color: #e0e0e0;
}

.mainmenubutton {
  width: 45vw;
  height: 2vw;
  margin: 1px;
}

.quarterscreen {
  width: 50vw;
  height: 25vh;
}

.quarterscreendiv {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 5px;
  width: 50vw;
  height: 25vh;
  overflow-x: hidden;
  overflow-y: auto;
}
